<div class="container">
  <div class="row">
    <h1>Eat-Da-Burger!</h1>
    <img src="/assets/img/burger.jpeg" alt="a ugly images of a 2d cloth burger on a white background" />
  </div>
  <main class="row">
    <section class="column text-center task">
      <h2>Burgers on the Table:</h2>
      {{#each burger_data}}
        {{#unless this.devoured}}
          <div class="column is-two-thirds text-center">
            <pre>{{this.burger_name}}</pre>
          </div>
          <div class="column text-center">
            <form class="devour-form button-size">
              <input input type="hidden" class="burger_id" type="text" value="{{this.id}}">
              <br>
              <button type="submit" class="btn btn-defaut">Devour it!</button>
            </form>
          </div>
        {{/unless}}
      {{/each}}
    </section>
    <section class="column text-center task">
      <h2>Burgers in your Tummy:</h2>
      {{#each burger_data}}
        {{#if this.devoured}}
          <input class="form-control" type="text" placeholder="{{this.burger_name}}" readonly>
        {{/if}}
      {{/each}}
    </section>
  </main>
  <div class="row">
    <div class="column text-center enter_section">
      <form action"/burgers/create" method="POST">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Grill</button>
      </form>
      <p>Enter a burger you want to eat. Then, Grill it up!</p>
    </div>
  </div>
</div>