<main class="container text-center">
  <div>
    <h1>Eat-Da-Burger!</h1>
    <img src="/assets/img/burger.jpeg" alt="a ugly images of a 2d cloth burger on a white background" />
  </div>
  <section class="column">
    <h2>Burgers on the Table:</h2>
    {{#each burger}}
      {{#unless devoured}}
        <ul>
          {{> burgers/burger-eat}}
        </ul>
      {{/unless}}
    {{/each}}
  </section>
  <section class="column">
    <h2>Burgers in your Tummy:</h2>
    {{#each burger}}
      {{#if devoured}}
        <ul>
          {{> burgers/burger-delete}}
        </ul>
      {{/if}}
    {{/each}}
  </section>
  <section>
    <h2>Grill a Burger</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="bg">Burger Name:</label>
        <input type="text" id="bg" name="name">
      </div>
      <button type="submit">Grill!</button>
    </form>
  </section>
</main>